services:
  app:
    image: cuenteamos2:latest
    ports:
      - 3030:3000
    env_file:
      - container.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    env_file:
      - container.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
